<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
    id="com.lefortsoftware.linksplugin"
    version="0.1.0">
    <name>LinksPlugin</name>
    <!-- ios -->
    <platform name="ios">    
        <config-file target="config.xml" parent="/*">
            <feature name="LinksPlugin">
                <param name="ios-package" value="LinksPlugin" /> 
            </feature>
        </config-file>
        <js-module src="www/LinksPlugin.js" name="LinksPlugin">
            <clobbers target="ttsPlugin" />
        </js-module>
        <header-file src="src/ios/LinksPlugin.h" />
	    <source-file src="src/ios/LinksPlugin.m" />
        <framework src="AVFoundation.framework" />
        <framework src="Foundation.framework" />
    </platform>

    <!-- android -->
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.lefortsoftware.linksplugin"
                      android:label="@string/app_name">
                <intent-filter></intent-filter>
            </activity>
        </config-file>

        <config-file target="res/xml/config.xml" parent="widget">
            <feature name="LinksPlugin">
                <param name="android-package" value="com.lefortsoftware.linksplugin.LinksPlugin" />
            </feature>
        </config-file>

        <source-file src="src/android/com/lefortsoftware/LinksPlugin.java"
                     target-dir="src/com/lefortsoftware"/>

        <js-module src="www/LinksPlugin.js" name="LinksPlugin">
            <clobbers target="linksPlugin" />
        </js-module>

    </platform>
</plugin>
